.acc_faq h1{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    cursor: pointer ;
    user-select: none;
    color: rgb(59, 59, 59);
    width: 100%;

}
.acc_faq p{
    font-size: 16px;
    text-align: left;
}
.acc_faq .inactive{
    display: none;
}
.acc_faq .active {
    display: block;
}
.acc_faq .acc-section{
    position: relative;
    border: 0px solid gray;
    box-shadow: 0px 0px 10px rgb(212, 212, 212);
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.acc_faq .vertcal{
    position: absolute;
    right: 20px;
    top: 10px;
}