
.about-container{
    width: 100%;
    padding: 0px 60px;
}
.about-company{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0px;
    gap: 60px;
}
.about-container .about-company .section{
    width: 50%;
}
.about-container .section img{
    float: left;
    border-radius: 10px;
}
.about-container .section h1{
    text-align: left;
}
.about-container .section h6{
    text-align: left;
}
.about-container .section p{
    padding-top: 20px;
}
.about-container .call-action{
    background-color: rgb(228, 243, 255);
    border-radius: 10px;
}
.mgmt-team{
    padding: 60px 0px;
}


.team-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    padding-top: 30px;
}
.team-cards .grid-card{
    box-shadow: 0px 0px 40px rgb(219, 219, 219);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.team-cards .grid-card img{
    border-radius: 10px;
    border: 1px solid gray;
}
.team-cards .grid-card h1{
    font-size: 23px;
    font-weight: 600;
    padding: 15px 0px;
}
.popClose{
display: none;
}
#popup1{
    position: absolute;
    top: 70%;
}
#popup1::before{
content: '';
position: absolute;
background-color: black;
width: 100%;
height: 100%;
}

@media only screen and (max-width: 768px) {
    .team-cards{
         display: grid;
        grid-template-columns: repeat(1,1fr) !important;
        gap: 45px;
    }
}