.test-client div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 20px;
    background-color:  aliceblue;
    border-radius: 20px;
}
.test-client{
    padding: 0px 60px;
    margin-top: 20px;
}
.test-client img{
 width: 70px;
 position: relative;
 left: 46.5%;
 margin-top: 20px;
}
.test-client h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}
.test-client p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 20px 0px;
}
@media only screen and (max-width: 768px) {

    .test-client{
        padding: 0px 20px !important;
        margin-top: 20px;
    }
}